body {
  font-family: 'Source Sans Pro', sans-serif;
}

.vnav {
  letter-spacing: 2px;
}

.marginb{
  margin-bottom: 45px; 
}
.navbar-brand {
  font-family: 'Pacifico', cursive;
}

/*header*/

.header1 {
  background-image: url("https://files.catbox.moe/gx0l87.png");
  color: #FFFFFF;
  image-height: 100%;
}


.container-fluid {
      padding-top: 100px;
      padding-bottom: 300px;
  }

.h3v {
  font-size: 50px;
  letter-spacing: 7px;
}

.h3v2 {
  font-size: 25px;
  letter-spacing: 4px;
}

.h3v3 {
  font-size: 15px;
  letter-spacing: 3px;
}

.h4v {
  font-size: 12px;
  letter-spacing: 3px;
  line-height: 1.8;
}

.pimg {
  width: 250px;
  height: auto;
}

.fav {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 22px;
  color: #0B1E3F;
  text-decoration: none;
}

.footer {
  padding: 30px 0 30px 0;
  background-color: #FFFFFF;
  border-top: solid 1px #0B1E3F;
}

a.cap2 {
  text-decoration: none;
}

.fa:hover {
opacity: 0.7;
}

.thumbnail:hover {
  box-shadow: 1px 1px 9px grey;
}